# Cloud PostgreSQL Connection String for Distributed Optuna
# To use this, create a `.env` file, paste your string here, and run `export $(cat .env | xargs)` before running `make optimize`.
OPTUNA_DB_URL="postgresql://user:password@host:port/database"
